<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>

    <style>


        .navbar-custom {
            background-color: #F6648C;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #FFFF;
        }
    </style>
</head>
<body>
<!-- Aqui va el tope de pagina -->

<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 px-5">Inicio de sesi&oacute;n</span>
    </div>
</nav>

<!-- Aqui va el Log in -->


<div class="container justify-content-center ">
    <div class="row justify-content-center">
        <div class="col-md-6 5">
            <div class="login-wrap p-4 p-md-5">
                <form th:action="@{/login}" method="post">
                    <label class="label">Nombre</label>
                    <div class="form-group">
                        <input type="text" class="form-control rounded-left" name="username"
                               placeholder="Ingrese su Nombre" required/>
                    </div>
                    <p></p>

                    <div class="form-group mb-3">
                        <label class="label">Contrase&ntilde;a</label>
                        <input type="password" class="form-control" name="password"
                               placeholder="Ingrese su Contrase&ntilde;a" required/>
                    </div>

                    <div th:if="${param.error}" style="color: red">
                        Nombre de usuario y contraseña incorrectos.
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-danger">
                            Iniciar Sesi&oacute;n
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>